/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    text-align: center; /* Center align all elements */
  }
  
  /* Basic styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background-image: url('images/header_background.png');
    background-size: cover; /* Adjust the background size property as needed */
    background-position: center; /* Adjust the background position property as needed */
    padding: 120px;
    position: relative;
  }

  .page-header-overlay-text {
    position: absolute;
    top: 50%; /* Adjust as needed to vertically center the text */
    left: 50%; /* Adjust as needed to horizontally center the text */
    transform: translate(-50%, -50%);
    color: #000000; /* Adjust the color as needed */
    font-size: 64px; /* Adjust the font size as needed */
    z-index: 1; /* Ensure the text appears above the image */
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    line-height: 1.2;
    }
  
  nav ul {
    list-style-type: none;
    padding: 20px;
    text-align: left;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    padding-left: 20px;
    text-decoration: none;
    color: #333;
  }
  
  section {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
/* Contact Page */
section ul {
  list-style-type: none;
}

section ul li {
  margin-bottom: 10px;
}

section ul li::before {
  content: "";
}

  /* Header Styles */
  header h1 {
    color: #333;
    font-size: 28px;
    text-align: center;
    margin-top: 40px;
  }

  body h1 {
    padding-left: 10px;
    color: #333;
    font-size: 28px;
    text-align: left;
    margin-top: 40px;
  }

  .page-header {
    text-align: center;
    margin-top: 20px;
  }

  .main-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    margin: 5px;
  }

  .purpose-header {
    margin-top: 20px;
    margin-left: 100px;
    text-align: left;
  }

  .purpose-body {
    margin-top: 20px;
    margin-left: 80px;
    text-align: left;
  }
  
  .button-container {
    text-align: center;
    margin-top: 20px;
  }

  .section-heading {
    text-align: center;
  }
  
  .button-container {
    text-align: center;
    margin-top: 20px;
  }

  .most-recent-post {
    text-align: center;
    margin-top: 20px;
  }